*{
    box-sizing: border-box;
}

/*NAVIGATION*/
.navigationHeader{
    height: 10vh;
    padding: 30px;
    padding-bottom: 30px;
    padding-bottom: 0;
}

nav{
    position: relative;
    width: 100%;
    height:50px;
    background-color: var(--light-orange);
    border-radius: 20px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0  , 0, .1);
    cursor: pointer;
    font-family: var(--button-fontFamily);
}

nav a{
    font-size: var(--buttons-fontSize);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--grey);
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.selected{
    color: white;
}

nav .animation{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    background: var(--dark-orange);
    transition: all .5s ease 0s;
}

a:nth-child(1){
    width:33.33%;
}

nav .start-home, a:nth-child(1):hover~.animation{
    border-radius: 20px 0 0 20px;
    width: 33.33%;
    left: 0;
}

a:nth-child(2){
    width:33.33%;
}

nav .start-step2, a:nth-child(2):hover~.animation{
    border-radius: 0;
    width: 33.33%;
    left: 33.33%;
}

a:nth-child(3){
    width:33.33%;
}

nav .start-step3, a:nth-child(3):hover~.animation{
    border-radius: 0 20px 20px 0;
    width: 33.33%;
    left: 66.66%;
}

/*Main*/

.parameterSelectorMain{
    height: 90vh;
    padding: 30px;   
    text-align: center;
    color: var(--black);
}

.parameterSelectorMain h1{
    font-family: var(--heading-fontFamily);
    font-size: var(--heading-fontSize);
    margin-bottom: 10vh;
}

.parameterSelectorMain .longHeading{
    margin-bottom: 0;
}

.eggSize, .eggCookingInstructions, .cookingPotImg{
    height: 40vh;
    position: relative;
    font-family: var(--heading-fontFamily);
    font-size: var(--heading-fontSizeSmall);
}

.parameterSelectorMain h4{
    margin: 0;
}

.eggSize:after, .eggCookingInstructions:after{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255,0), rgba(246, 244, 218) 85%);
    width: 5%;
    height: 100%;
}


.eggSize:before, .eggCookingInstructions:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255,0), rgba(246, 244, 218) 85%);
    width: 5%;
    height: 100%;
}

.eggSizeSlider, .eggCookSlider{
    height: 80%;
    display: flex;
    justify-content: space-around;
    overflow-x: scroll;
    gap: 10vw;
    padding-left: 200px;
}

.eggSizeSlider > div, .eggCookSlider > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*Egg size images*/
.small{
    margin-left: 230px;
    width: 60px;
}
.small img{
   height: 50%;
}

.medium{
    width: 100px;
}
.medium img{
   height: 70%;
}

.large{
    width: 100px;
    margin-right: 80px;
}
.large img{
   height: 90%;
}

/*Egg cooking instructions images*/
.soft img, .eggCookSlider > .medium img, .hard img{
    height: 90%;
}

.soft{
    margin-left: 230px;
}

.hard{
    margin-right: 80px;
}

.cookingPotImg{
    background-image: url(../images/pot3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-left: 3vh;
    margin-right: 3vh;
}

/*Button*/
.parameterSelectorMain button{
    background-color: var(--dark-orange);
    color: var(--grey);
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 110px;
    margin-top: 4vh;
    font-family: var(--button-fontFamily);
    font-size: var(--buttons-fontSize);
}

.parameterSelectorMain button:hover{
    background-color: #ecab2a;
    cursor: pointer;
}
