.arrow {
  transform: scaleX(-1);
  display: inline-block;
}

.button-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-timer .button-start,
.button-timer .button-reset {
  margin: 5px;
}

.button-timer .button-start {
  color: var(--white);
}

.button-timer .button-reset {
  background-color: var(--white);
  color: var(--black);

}

.numeric-timer {
  font-family: var(--button-fontFamily);
  font-size: 50px;
}
