.arrow {
  transform: scaleX(-1);
  display: inline-block;
  width: 28px;
}

/* buttons */
.button-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-start,
.button-reset {
  background-color: var(--dark-orange);
  color: var(--grey);
  cursor: pointer;
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 110px;
  margin: 5px;
  font-family: var(--button-fontFamily);
  font-size: var(--buttons-fontSize);
}

.button-start {
  color: var(--white);
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

.button-reset {
  background-color: var(--white);
  color: var(--black);
}

.pause, .continue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-orange);
  color: var(--white);
  cursor: pointer;
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 110px;
  margin: 5px;
  font-family: var(--button-fontFamily);
  font-size: var(--buttons-fontSize);
}

.continue {
  background-color: var(--dark-orange);
}

.inactive {
  opacity: 0.3;
}

/* numeric-timer */
.numeric-timer {
  font-family: var(--button-fontFamily);
  font-size: 50px;
  padding: 20px;
}

/* visual-timer */
.visual-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  position: relative;
}

.circular-progress {
  height: 330px;
  width: 330px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 1s;
  background-color: var(--white);
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--light-yellow);
}

.cooking, .cooking-done {
  width: 300px;
  position: absolute;
}

.bounce {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
