.arrow {
  transform: scaleX(-1);
  display: inline-block;
  width: 28px;
}

/* buttons */
.button-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-start,
.button-reset {
  background-color: var(--dark-orange);
  color: var(--grey);
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 110px;
  margin: 5px;
  font-family: var(--button-fontFamily);
  font-size: var(--buttons-fontSize);
}

.button-start {
  color: var(--white);
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

.button-reset {
  background-color: var(--white);
  color: var(--black);
}

.pause {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-orange);
  color: var(--white);
  border-radius: 30px;
  border: none;
  height: 50px;
  width: 110px;
  margin: 5px;
  font-family: var(--button-fontFamily);
  font-size: var(--buttons-fontSize);

}

/* numeric-timer */
.numeric-timer {
  font-family: var(--button-fontFamily);
  font-size: 50px;
}
