:root {
  /* colors */
  --light-yellow: rgb(246, 244, 221);
  /*--medium-yellow: rgb(248, 236, 122);*/
  /*--dark-yellow: rgb(250, 233, 95);*/
  --light-orange: rgb(250, 229, 189);
  /*--medium-orange: rgb(246, 207, 124);*/
  --dark-orange: rgb(255, 193, 73);
  --white: rgb(255, 255, 255);
  --black: rgb(42, 42, 42);
  --grey: rgb(152, 152, 152);
}

body {
  background-color: var(--light-yellow);
  margin: 0;
}
